.navbar{
    background-color: black;
    border-radius: 30px;
}
.navbar ul{
    overflow: hidden;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 20px 9px;
}
.navbar li a{
    text-decoration: none;
    padding: 3px 4px;
    color: white;
    text-transform: uppercase;
}
.navbar input{
    padding: 5px 24px;
    margin: 17px 61px;
    border-radius: 20px;
}
.search{
    float: right;
}